*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 20px;
}
li{
    list-style-type: none;
    display: inline;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
}
li:hover{
    color: #c20625;
    
}

header{
    background-color: black;
    height: 60px;
    border-radius: 30px;
}