
.container{
    display: flex;
    /* flex-direction: column; */
    /* flex-direction:row; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    justify-content: center;
    background-color: #00e1ff70;
    height: 50vh;
    align-items: center;
    /* align-content: center; */
}
.box1{
    width: 200px;
    height: 50px;
    background-color: purple;
    margin-right: 5px;
    border-radius: 40px;
    padding: 10px 10px ;
    margin: 10px 10px;
    font-weight: 600;
    /* align-self: flex-end; */
}
.box2{
    width: 200px;
    height: 50px;
    background-color: #0400ffdc;
    margin-right: 5px;
    border-radius: 25px;
    border-radius: 40px;
    padding: 10px 10px ;
    margin: 10px 10px;
    font-weight: 600;
}
.box3{
    width: 200px;
    height: 50px;
    background-color: coral;
    margin-right: 5px;
    border-radius: 25px;
    border-radius: 40px;
    padding: 10px 10px ;
    margin: 10px 10px;
    font-weight: 600;
}
.box4{
    width: 200px;
    height: 50px;
    background-color: green;
    margin-right: 5px;
    border-radius: 25px;
    border-radius: 40px;
    padding: 10px 10px ;
    margin: 10px 10px;
    font-weight: 600;
}
.box5{
    width: 200px;
    height: 50px;
    background-color: red;
    margin-right:5px;
    border-radius: 25px;
    border-radius: 40px;
    padding: 10px 10px ;
    margin: 10px 10px;
    font-weight: 600;
    /* align-self: flex-end; */
}

