
#container
{
    height: 75vh;
    width: 75vw;
    background-color: cyan;
    display: flex;
}
#div1{
    background-color: cyan;
    margin-right: 5px;    
}
#div2{
    background-color: red;
}
#div3{
    background-color: grey;
}
#div4{
    background-color: green;
}