*{
    margin: 0;
    padding: 0;
}
.red{
    background: #fcba03;
    /* rgb value (red,green,blue) */
    /* background: rgb(193, 47, 238); */

    color: white;
    height: 200px;
}
.green{
    background: green;
    color: black;
    font-weight: bold;
    height: 100px;
}